@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.ViewComponents
@using WebShop.ViewComponents

@model IEnumerable<WebShop.Models.ProductViewModel>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<p>
    <a asp-action="Create">Create New Product</a>
</p>
<div class="col-lg-12 div-all-products">
    @foreach (var item in Model)
    {
        <div class="col-md-3 product-div">
            <img src="~/images/@Html.DisplayFor(modelItem => item.ImageName)" alt="ASP.NET" class="img-responsive" />
            <div class="productName-class">
                @Html.DisplayFor(modelItem => item.ProductName)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Price)
            </div>
            <div>
                <a asp-action="AddToCart" asp-route-id="@item.ProductId" asp-controller="ShoppingCarts" class="btn btn-default">Buy</a> 
            </div>
            <div class="CRUD-links-prod btn-group">
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></a>
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    }
</div>
<div>
    @await Component.InvokeAsync("Navigation")
</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <div class="col-md-2">
                    <td>
                        <img src="~/images/@Html.DisplayFor(modelItem => item.ImageName)" alt="ASP.NET" class="img-responsive" />
                        @Html.DisplayFor(modelItem => item.ProductName)

                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
            </div>
        </tr>
}
    </tbody>
</table>*@
